@import "../_variables/variables";

@media only screen and (max-width: $layout-breakpoint-xxl) {
  .footer {
    padding: 57px 0;
  }
}

@media only screen and (max-width: $layout-breakpoint-xl) {
  .footer {
    padding: 38px 0 47px;
    &__title {
      font-size: 14px;
    }
    &__description {
      font-size: 12px;
      line-height: 24px;
      margin: 0 auto 26px;
      span {
        display: none;
      }
    }
    &__social {
      margin: 0 auto 26px;
    }
    &__copy {
      font-size: 14px;
      line-height: 24px;
      &__tel {
        display: block;
      }
    }
  }
}