$color-title-and-nav: #4E4E4E;
$color-author: #7C7C7C;
$color-description: #5C5C5C;
$color-nav-hover: #57A4A4;
$color-footer: #B9B9B9;

$link-none-decoration: none;
$text-transform-uppercase: uppercase;

$font-main-regular: 'Roboto-Regular';
$font-main-bold: 'Roboto-Bold';
$font-size-subtitle: 16px;
$font-size-author: 12px;
$font-size-desc: 14px;
$font-size-nav-m: 11px;

$subtitle-mb: 24px;
$post-mb: 32px;
$margin-bottom-blocks: 69px;

$layout-breakpoint-xxl: 1200px;
$layout-breakpoint-xl: 768px;